[submodule "third-party/ActionBarSherlock"]
	path = third-party/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
	ignore = dirty
[submodule "third-party/android-numberpicker"]
	path = third-party/android-numberpicker
	url = https://github.com/SimonVT/android-numberpicker.git
	ignore = dirty
[submodule "third-party/Crouton"]
	path = third-party/Crouton
	url = https://github.com/keyboardsurfer/Crouton.git
	ignore = dirty
[submodule "third-party/SherlockNavDrawer"]
	path = third-party/SherlockNavDrawer
	url = https://github.com/nicolasjafelle/SherlockNavigationDrawer
	ignore = dirty
